<!-- Categorias -->
<h5 class="titulo">Categorías</h5>

<button *ngFor="let categoria of categorias" 
        type="button" 
        id = "{{ categoria.nombre }}"
        class="btn btn-primary itemCategoria"
        (click)="getCategoria(categoria)">{{ categoria.nombre }}
        
        <!-- Boton para eliminar categoria -->
        <button class="btn eliminar-categoria" (click)="deleteCategoria(categorias, categoria)">X</button>
</button>

  <!-- Button trigger modal -->
<button type="button" 
        class="btn btn-primary agregar" 
        data-toggle="modal" 
        data-target="#exampleModal" 
        (click)='abrirModal()'>
  <i class="material-icons">add_circle_outline</i>
  Agregar
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Agregar categoria</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h5>Especifica el nombre de la Categoria</h5>
        <form (ngSubmit)="agregarCategoria()" #form="ngForm">
          <div class="form-group">
            <input type="email" 
                   class="form-control" 
                   id="inputCategoria" 
                   placeholder="Ejemplo: Hamburguesa"
                   name = "inputCategoria"
                   [(ngModel)]="inputCategoria">
            <div class="invalid-feedback"> {{ errorMsg }} </div>
          </div>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
          <button type="submit" class="btn btn-primary submit">Agregar</button>
        </form>
      </div>
    </div>
  </div>
</div>