<!-- Categorias -->
<h5 class="titulo">Categorías</h5>

<button *ngFor="let categoria of categorias" 
        type="button" 
        class="btn btn-primary itemCategoria">{{ categoria }}
</button>

  
  <!-- Button trigger modal -->
<button type="button" 
        class="btn btn-primary agregar" 
        data-toggle="modal" 
        data-target="#exampleModal" 
        (click)='abrirModal()'>
  <i class="material-icons">add_circle_outline</i>
  Agregar
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Agregar categoria</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h5>Especifica el nombre de la Categoria</h5>
        <form (ngSubmit)="agregarCategoria()" #form="ngForm">
          <div class="form-group">
            <input type="email" 
                   class="form-control" 
                   id="inputCategoria" 
                   placeholder="Ejemplo: Hamburguesa"
                   name = "inputCategoria"
                   [(ngModel)]="inputCategoria">
            <div class="invalid-feedback"> {{ errorMsg }} </div>
          </div>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
          <button type="submit" class="btn btn-primary submit">Agregar</button>
        </form>
      </div>
    </div>
  </div>
</div>


<!-- Items -->
<h5 class="titulo">Productos</h5>

<div class="fluid-container">
  <div class="row">
    <div class="col-4">
      <div class="card">
        <div class="imgContainer">
          <img src="../../../assets/img/card.png" alt="Imagen de fondo">
          <h3 class="titulo">Margarita</h3>
        </div>
      </div>
      <div class="cardBody">
        <h6><strong>Precio:</strong> 15.000 Puntos </h6>
        <!-- FIXME: hacer que el logo de agregar quede al final -->
        <i class="material-icons">add_circle_outline</i>
      </div>
    </div>
    <div class="col-4">
      <div class="card">
        <div class="imgContainer">
          <img src="../../../assets/img/card.png" alt="Imagen de fondo">
          <h3 class="titulo">Margarita</h3>
        </div>
      </div>
      <div class="cardBody">
        <h6><strong>Precio:</strong> 15.000 Puntos </h6>
        <!-- FIXME: hacer que el logo de agregar quede al final -->
        <i class="material-icons">add_circle_outline</i>
      </div>
    </div>
    <div class="col-4">
      <div class="card">
        <div class="imgContainer">
          <img src="../../../assets/img/card.png" alt="Imagen de fondo">
          <h3 class="titulo">Margarita</h3>
        </div>
      </div>
      <div class="cardBody">
        <h6><strong>Precio:</strong> 15.000 Puntos </h6>
        <!-- FIXME: hacer que el logo de agregar quede al final -->
        <i class="material-icons">add_circle_outline</i>
      </div>
    </div>
  </div>
</div>
