.titulo {
    margin-top: 1rem;
}

.invalid-feedback {
    display: block;
}

.itemCategoria {
    margin: 0 1rem 1rem 0;
}

.agregar {
    opacity: 0.65;
    margin: 0 1rem 1rem 0;
}

.material-icons {
    font-size: 1rem;
    vertical-align: text-bottom;
}

.submit {
    float: right;
}