<div class="container-fluid">

  <div class="contenedor row header">
    <div class="col-2 btn-container atras">
      <button type="button" class="btn btn-outline-primary" (click)="back()">
          <!-- Se usan Material Icons. El CDN esta en index.html -->
          <i class="material-icons">arrow_back_ios</i>
          Atrás
      </button>
    </div>

    <div class="col-8 titulo">
        <h2>MENÚ</h2>
    </div>
    
    <div class="col-2 btn-container filtrar">
      <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Filtrar
        </button>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Se muestran las categorias de productos -->
  <div class="contenedor categorias">
    <app-categoria></app-categoria>
  </div>

  
  <!-- Se muestran los productos de dicha categoria -->
  <div class="contenedor productos">
    <app-producto></app-producto>
  </div>

</div>

<!-- el metodo para agregar el producto esta en el componente del modal -->
<button class="btn btn-primary agregar" data-toggle="modal" data-target="#modalProducto" (click)="openModal()">
  <i class="material-icons add">add</i>
</button>


<!-- Modal de productos -->
<app-modal-producto></app-modal-producto>
