<div class="container-fluid">

  <div class="row header">

    <div class="col-2 btn-container atras">
      <button type="button" class="btn btn-outline-primary" (click)="back()">
          <!-- Se usan Material Icons. El CDN esta en index.html -->
          <i class="material-icons">arrow_back_ios</i>
          Atrás
      </button>
    </div>

    <div class="col-8 titulo">
        <h2>MENÚ</h2>
    </div>
    
    <div class="col-2 btn-container filtrar">
      <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Filtrar
        </button>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </div>
    </div>

  </div>

  

  <button *ngFor="let categoria of categorias" 
          type="button" 
          class="btn btn-primary">{{ categoria }}
  </button>

  
  <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  Agregar
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Agregar categoria</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h5>Especifica el nombre de la Categoria</h5>
        <input #categoria 
               type="text" 
               class="form-control" 
               placeholder="Ejemplo: Hamburguesas">
        <div class="invalid-feedback"> {{ errorMsg }} </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" (click)="registrarCategoria(categoria.value)">Aceptar</button>
      </div>
    </div>
  </div>
</div>


</div>

