<h5 class="titulo">Productos</h5>

<div class="fluid-container">
  <div class="row">

    <ng-container *ngFor="let categoria of productos">
      <ng-container *ngIf="categoria.nombre === categoriaSeleccionada">
        <ng-container *ngFor="let producto of categoria.productos">
          <div class="col-4">
            <div class="card" (click)="openModalDetails(producto)">
              <div class="imgContainer">
                <img src="assets/img/card.png" alt="Imagen de fondo">
                <div class="iconContainer">
                </div>
                <h4 class="titulo">{{producto.nombre}}</h4>
              </div>
            </div>
            <div class="cardBody">
              <h6><strong>Precio:</strong> {{ producto.precio | number}} Puntos</h6>
            </div>
          </div>
        </ng-container>
      </ng-container>
    </ng-container>
    
  </div>
</div>