.col-4 {
    margin-bottom: 1.5rem;
}

.card {
    border: none;
    cursor: pointer;
}

.card-body {
    padding: 1rem 0 0 1rem;
}

.imgContainer {
    height: 100%;
    width: auto;
    background: transparent;
    position: relative;
}
.imgContainer:before {
    position: absolute;
    background: linear-gradient(to bottom, transparent 30%, rgba(0,0,0,0.65) 85%);
    content: "";
    height: 100%;
    width: 100%;
    left: 0;
    bottom: 0;
}
.imgContainer img {
    width: 100%;
    border-radius: 5px 5px 0 0;
}
.imgContainer .titulo {
    position: absolute;
    bottom: 0;
    left: 0.75rem;
    color: white;
    font-weight: 900;
}

.cardBody {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: .5rem;
    border-radius: 0 0 5px 5px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.05);
}
.cardBody h6 {
    margin: 0 .5rem 0;
}
.cardBody i {
    color: #6E6CFF;
}

.iconContainer {
    position: absolute;
    top: 0;
    right: 0;
}

.edit, .delete {
    cursor: pointer;
    color: #6e6cff;
}