<!-- formulario producto -->
<form [formGroup]="formProductos" (ngSubmit)="onSubmit()">

  <div class="modal fade" id="modalProducto" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Agregar Producto</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

          <div class="form-group">
            <label>Nombre</label>
            <input type="text" formControlName="nombre" required class="form-control" placeholder="Indique el nombre del producto">
          </div>

          <div class="form-group">
            <label>Categoría a la que pertenecerá el producto</label>
            <select class="form-control" formControlName="categoriaProducto" required>
              <option disabled selected>Seleccione una opción</option>           
              <option *ngFor="let categoria of categorias" 
                      value="{{ categoria.nombre }}">
                      {{ categoria.nombre }}
              </option>
            </select>
          </div>

          <div class="form-group">
            <label>Estado</label>
            <select class="form-control" formControlName="estado" required>
              <option disabled selected>Seleccione una opción</option>
              <option value="activo">Activo</option>
              <option value="inactivo">Inactivo</option>
              <option value="agotado">Agotado</option>
            </select>
          </div>

          <div class="row row-ingredientes">
            <div class="col-4"><label><strong>Ingredientes</strong></label></div>
            <div class="col-8 buttons">
              <button type="button"(click)="addCategoria()" class="btn btn-primary"><i class="material-icons">add</i> Categoria</button>
              <button type="button" (click)="deleteCategoria()" class="btn btn-danger"><i class="material-icons">remove</i> Categoria</button>
            </div>
            
          </div>

          <div formArrayName="componente" class="form-group">
            <div *ngFor="let categoria of formProductos.get('componente')['controls']; let ic=index; let even = even; let odd = odd">
              <div formGroupName="{{ic}}" class="row-striped" [ngClass]="{ odd: odd, even: even }">

                <div class="row">
                  <div class="col-6">
                    <label><strong>Categoría {{ic + 1}}</strong></label>
                    <input type="text" formControlName="nombreComponente" required class="form-control" placeholder="Ej. Salsas">
                  </div>
                  <div class="col-6">
                    <label>Tipo de selección</label>
                    <select class="form-control" formControlName="tipoComponente" required>
                      <option disabled selected>Seleccione una opción</option>
                      <option value="seleccion simple">Selección simple</option>
                      <option value="seleccion multiple">Selección múltiple</option>
                    </select>
                  </div>
                </div>

                <div class="row row-ingredientes mt-2">
                  <div class="col-4">
                    <label>Ingredientes</label>
                  </div>
                  <div class="col-8 buttons">
                    <button type="button" (click)="addIngredientes(ic)" class="btn btn-primary"><i class="material-icons">add</i> Ingrediente</button>
                    <button type="button" (click)="deleteIngredientes(ic)" class="btn btn-danger"><i class="material-icons">remove</i> Ingrediente</button>
                  </div>
                </div>
      
                <div formArrayName="comp_ing">
                  <div *ngFor="let ingrediente of categoria['controls'].comp_ing['controls']; let ii=index">
                    <div formGroupName="{{ii}}">

                      <div class="row">
                        <div class="col-6">
                          <input type="text" formControlName="nombre_ingrediente" required class="form-control" placeholder="Nombre ingrediente n° {{ii + 1}}" >
                        </div>
                        <div class="col-6">
                          <input type="number" formControlName="precio" required class="form-control" placeholder="Precio del ingrediente">                  
                        </div>
                      </div>

                      <div class="row mb-2 mt-2">
                        <div class="col-4">
                          <input type="checkbox" formControlName="obligatorio">obligatorio
                        </div>
                        <div class="col-5">
                          <input type="checkbox" formControlName="preseleccionado">preseleccionado
                        </div>
                        <div class="col-3">
                          <input type="checkbox" formControlName="agotado" value="true">agotado
                        </div>
                      </div>


                    </div>
                  </div>
                </div>
      
              </div>
            </div>
          </div>

          <div class="form-group">
            <label>Descripcion</label>
            <textarea formControlName="descripcion" required class="form-control" rows="3" placeholder="Indique una descripción del producto"></textarea>
          </div>

          <div class="form-group">
            <label>Precio</label>
            <input type="number" formControlName="precio" required class="form-control" placeholder="Indique el precio general del producto">
          </div>

          <div class="form-group">
              <label>Foto</label> 
            <div class="custom-file">
              <input type="file" formControlName="foto" class="custom-file-input" id="inputFile" aria-describedby="inputGroupFileAddon04">
              <label class="custom-file-label" for="inputFile">Subir archivo</label>
            </div>
          </div>
          
         </div>        
              
        <div class="modal-footer">
          <div>
            <ng-container *ngIf="deshabilitado; else elseTemplate">
              <button type="button" class="btn btn-danger" (click)="deshabilitar()">Habilitar</button>              
            </ng-container>
            <ng-template #elseTemplate>
              <button type="button" class="btn btn-danger" (click)="deshabilitar()">Deshabilitar</button>                            
            </ng-template>
          </div>
          
          <div>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            <button type="submit" [disabled]="!formProductos.valid" class="btn btn-primary submit">Agregar</button>
          </div>
        </div>
      </div>
    </div>
  </div>

</form>