.form-ingrediente .row {
    margin-bottom: .5rem;
}

.form-ingrediente .row:nth-child(3)  div:nth-child(1) {
    display: flex;
    align-items: center;
}

.form-ingrediente .row:nth-child(3)  div label {
    margin: 0;
}

.ingredientesCategoria {
    display: flex;
    margin: 0 0 .5rem 0;
    width: 100%;
    justify-content: space-between;
}

.custom-file label::after {
    content: 'Buscar';
}

.modal-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.submit {
    margin-left: .5rem;
}