img {
    margin: 0 auto 5% auto;
    display: block;
    max-height: 250px;
}

.link {
    margin: auto;
}

.btn-login {
    background-color: #0F0E9F;
    border-color: #0F0E9F;
}
.btn-login:hover {
    background-color: #08078C;
    border-color: #08078C;
}

a {
    color: #6c757d;
}
a:hover {
    color: #51585f;
}

.login {
    background-color: #F4F4F4;
}

.contenedor {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero {
    text-align: center;
    color: white;
    display: grid;
    place-items: center center;
}

.title {
    font-size: 3.5rem;
    font-weight: 900;
}

form {
    padding: 0 15px;
}