<div class="container-fluid">
  <div class="row">

    <!-- seccion para login -->
    <div class="col-4 login contenedor">
      <img src="assets/img/logo.png" alt="YEiPii Delivery">

      <form (ngSubmit)="onSubmit()" #form="ngForm">

        <!-- Mensaje de error -->
        <div *ngIf="mensaje" class="alert alert-danger" role="alert">
          {{ mensaje }}
        </div>

        <div class="form-group">
          <label for="exampleInputEmail1">Nombre de Usuario</label>
          <input type="email"
                class="form-control" 
                id="correo" 
                placeholder="Nombre de Usuario" 
                name="correo"
                [(ngModel)]="user.correo"
                required>
        </div>
        
        <div class="form-group">
          <label for="exampleInputPassword1">Contraseña</label>
          <input type="password" 
                class="form-control" 
                id="clave" 
                placeholder="Contraseña" 
                name="clave"
                [(ngModel)]="user.clave"
                required>
        </div>

        <div class="form-group row login">
          <div class="col-4">
            <button type="submit" 
                    class="btn btn-primary btn-login col-12" 
                    [disabled]="!form.form.valid"> Entrar
            </button>
          </div>
          <div class="col-8 text-right link">
            <a href="">¿Olvidaste tu contraseña?</a>
          </div>
        </div>
        
      </form>      
    </div>
    
    <!-- seccion de imagen -->
    <div class="col-8 hero">
      <div class="texto">
        <h1 class="title">Bienvenido a Flashy Delivery</h1>
        <h4>Entra al sistema con tu cuenta para poder gestionar tus servicios</h4>
      </div>
    </div>
  
  </div>
</div>



