.col-3 {
    padding: 0 10px;
}

.pedido {
    background-color: #5d5ec5;
    color: white;
    border-radius: 5px;
    margin: 0 0 2% 0;
    padding: 1% 0;
    align-items: center;
}

p { 
    margin: 0;
}
.description {
    font-weight: lighter;
}

.alergia, .observaciones {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.material-icons {
    color: #d8d8d8;
}

.icon-alert {
    color: #FE4C4C;
}

.input-group {
    margin-bottom: .5rem !important;
}

.btn-outline-primary {
    color: #298FFC;
    border-color: #298FFC;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    padding: .20rem .75rem;
}
.btn-outline-primary i {
    color: #298FFC;
    margin-left: .5rem;
}