<div class="pedido row">

  <div class="col-3">
    <strong><p class="title">Usuario</p></strong>
    <p class="description">Username</p>

    <strong><p class="title">Fecha y hora</p></strong>
    <p class="description">19/02/2019 - 15:00h</p>
  </div>

  <div class="col-3">
    <strong><p class="title">Monto</p></strong>
    <p class="description">15.000,00 Pts</p>

    <strong><p class="title">Referencia</p></strong>
    <p class="description">02023134832</p>
  </div>

  <div class="col-3">
    <strong><p class="title">Datos del pedido</p></strong>
    <div class="alergia">
        <p class="description">Alergia</p>
        <i class="material-icons">brightness_1</i>
    </div>
    <div class="observaciones">
      <p class="description">Observaciones</p>
      <i class="material-icons">visibility</i>
    </div>
    
  </div>

  <div class="col-3">
    <strong><p class="title">Actualizar estado</p></strong>
    <div class="input-group mb-3">
      <select class="custom-select" id="inputGroupSelect01">
        <option selected>Seleccionar</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select>
    </div>
  </div>

</div>


<!-- TODO: Borrar todo esto -->
<div class="pedido row">

  <div class="col-3">
    <strong><p class="title">Usuario</p></strong>
    <p class="description">Username</p>

    <strong><p class="title">Fecha y hora</p></strong>
    <p class="description">19/02/2019 - 15:00h</p>
  </div>

  <div class="col-3">
    <strong><p class="title">Monto</p></strong>
    <p class="description">15.000,00 Pts</p>

    <strong><p class="title">Referencia</p></strong>
    <p class="description">02023134832</p>
  </div>

  <div class="col-3">
    <strong><p class="title">Datos del pedido</p></strong>
    <div class="alergia">
        <p class="description">Alergia</p>
        <i class="material-icons">brightness_1</i>
    </div>
    <div class="observaciones">
      <p class="description">Observaciones</p>
      <i class="material-icons">visibility</i>
    </div>
    
  </div>

  <div class="col-3">
    <strong><p class="title">Actualizar estado</p></strong>
    <div class="input-group mb-3">
      <select class="custom-select" id="inputGroupSelect01">
        <option selected>Seleccionar</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select>
    </div>
  </div>

</div>
<div class="pedido row">

  <div class="col-3">
    <strong><p class="title">Usuario</p></strong>
    <p class="description">Username</p>

    <strong><p class="title">Fecha y hora</p></strong>
    <p class="description">19/02/2019 - 15:00h</p>
  </div>

  <div class="col-3">
    <strong><p class="title">Monto</p></strong>
    <p class="description">15.000,00 Pts</p>

    <strong><p class="title">Referencia</p></strong>
    <p class="description">02023134832</p>
  </div>

  <div class="col-3">
    <strong><p class="title">Datos del pedido</p></strong>
    <div class="alergia">
        <p class="description">Alergia</p>
        <i class="material-icons">brightness_1</i>
    </div>
    <div class="observaciones">
      <p class="description">Observaciones</p>
      <i class="material-icons">visibility</i>
    </div>
    
  </div>

  <div class="col-3">
    <strong><p class="title">Actualizar estado</p></strong>
    <div class="input-group mb-3">
      <select class="custom-select" id="inputGroupSelect01">
        <option selected>Seleccionar</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select>
    </div>
  </div>

</div>
<div class="pedido row">

  <div class="col-3">
    <strong><p class="title">Usuario</p></strong>
    <p class="description">Username</p>

    <strong><p class="title">Fecha y hora</p></strong>
    <p class="description">19/02/2019 - 15:00h</p>
  </div>

  <div class="col-3">
    <strong><p class="title">Monto</p></strong>
    <p class="description">15.000,00 Pts</p>

    <strong><p class="title">Referencia</p></strong>
    <p class="description">02023134832</p>
  </div>

  <div class="col-3">
    <strong><p class="title">Datos del pedido</p></strong>
    <div class="alergia">
        <p class="description">Alergia</p>
        <i class="material-icons">brightness_1</i>
    </div>
    <div class="observaciones">
      <p class="description">Observaciones</p>
      <i class="material-icons">visibility</i>
    </div>
    
  </div>

  <div class="col-3">
    <strong><p class="title">Actualizar estado</p></strong>
    <div class="input-group mb-3">
      <select class="custom-select" id="inputGroupSelect01">
        <option selected>Seleccionar</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select>
    </div>
  </div>

</div>
<div class="pedido row">

  <div class="col-3">
    <strong><p class="title">Usuario</p></strong>
    <p class="description">Username</p>

    <strong><p class="title">Fecha y hora</p></strong>
    <p class="description">19/02/2019 - 15:00h</p>
  </div>

  <div class="col-3">
    <strong><p class="title">Monto</p></strong>
    <p class="description">15.000,00 Pts</p>

    <strong><p class="title">Referencia</p></strong>
    <p class="description">02023134832</p>
  </div>

  <div class="col-3">
    <strong><p class="title">Datos del pedido</p></strong>
    <div class="alergia">
        <p class="description">Alergia</p>
        <i class="material-icons">brightness_1</i>
    </div>
    <div class="observaciones">
      <p class="description">Observaciones</p>
      <i class="material-icons">visibility</i>
    </div>
    
  </div>

  <div class="col-3">
    <strong><p class="title">Actualizar estado</p></strong>
    <div class="input-group mb-3">
      <select class="custom-select" id="inputGroupSelect01">
        <option selected>Seleccionar</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select>
    </div>
  </div>

</div>
<div class="pedido row">

  <div class="col-3">
    <strong><p class="title">Usuario</p></strong>
    <p class="description">Username</p>

    <strong><p class="title">Fecha y hora</p></strong>
    <p class="description">19/02/2019 - 15:00h</p>
  </div>

  <div class="col-3">
    <strong><p class="title">Monto</p></strong>
    <p class="description">15.000,00 Pts</p>

    <strong><p class="title">Referencia</p></strong>
    <p class="description">02023134832</p>
  </div>

  <div class="col-3">
    <strong><p class="title">Datos del pedido</p></strong>
    <div class="alergia">
        <p class="description">Alergia</p>
        <i class="material-icons">brightness_1</i>
    </div>
    <div class="observaciones">
      <p class="description">Observaciones</p>
      <i class="material-icons">visibility</i>
    </div>
    
  </div>

  <div class="col-3">
    <strong><p class="title">Actualizar estado</p></strong>
    <div class="input-group mb-3">
      <select class="custom-select" id="inputGroupSelect01">
        <option selected>Seleccionar</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select>
    </div>
  </div>

</div>