<div class="container-fluid">

  <div class="perfil">
    <div class="profile">
      <img src="assets/img/default_profile.png" alt="Imagen de perfil">
    </div>
    <h1 class="user">ismaeljtl</h1>
    <p class="ubicacion">Miranda, Venezuela</p>
    
    <div class="horario">
      <h2>Horarios de atención</h2>

      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Día</th>
            <th scope="col">Hora de apertura</th>
            <th scope="col">Hora de cierre</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">Lunes</th>
            <td>8:00 a.m.</td>
            <td>5:00 p.m.</td>
          </tr>
          <tr>
            <th scope="row">Martes</th>
            <td>8:00 a.m.</td>
            <td>5:00 p.m.</td>
          </tr>
          <tr>
            <th scope="row">Miercoles</th>
            <td>8:00 a.m.</td>
            <td>5:00 p.m.</td>
          </tr>
          <tr>
            <th scope="row">Jueves</th>
            <td>8:00 a.m.</td>
            <td>5:00 p.m.</td>
          </tr>
          <tr>
            <th scope="row">Viernes</th>
            <td>8:00 a.m.</td>
            <td>5:00 p.m.</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="menu">
    <button class="btn btn-light" routerLink="/menu"><h2>MENÚ</h2></button>
  </div>
  
  <div class="pedidos">
    <button class="btn btn-dark" routerLink="/pedidos">
      <h2>PEDIDOS</h2>
      <div class="alerta">
        <ng-template [ngIf]="pedidos === 0" [ngIfElse]="alertRed">
          <span class="alert-blue">{{ pedidos }}</span><p>PEDIDOS</p>
        </ng-template>
        <ng-template #alertRed>
          <span class="alert-red">{{ pedidos }}</span><p>PEDIDOS</p>          
        </ng-template>
      </div>
    </button>
  </div>

</div>
